@import url("https://aushevahmad.github.io/awesome-css/modules/bartender.css");
:root {
    --bartender-width: 4ch;  /* Width for displayed icon. Adjust depending on your needs [Default: 4ch] */
}

@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css");

:root {
  --font-primary: "SF Pro Display", sans-serif;
  --font-display: "SF Pro Display", sans-serif;
  --font-code: "Comic Code", monospace;
  --columns: 1;
  --guildgap: 3;
  --guildsize: 40;
  --aligndms: 0;
}

.avatarDecoration, 
.profileEffects, 
button[aria-label="Send a gift"], 
a[href="/shop"], 
a[href="/store"], 
div[aria-label="Explore Discoverable Servers"], 
.effectsWrapper, 
.newMemberBadge_ed263a, 
[class*=channelAppLauncher_] {
  display: none !important;
}

.shakeReaction {
  animation: none !important;
}

:root, .theme-dark {
  --background-primary: black !important;
  --background-secondary: black !important;
  --background-tertiary: black !important;
  --background-secondary-alt: black !important;
  --background-accent: black !important;
  --button-secondary-background: hsl(0, 0%, 10%) !important;
  --activity-card-background: black;
  --home-background: black !important;
}
